# Setup tools
setuptools==63.2.0

# Unit tests
pytest==7.1.2
pytest-cov==3.0.0
coverage==6.2

# Formatting
black==22.6.0

# Integration test
termcolor==1.1.0
atomicwrites==1.4.1
numpy==1.21.5
pandas==1.3.5
scikit-learn==1.0.2

# Similar packages for integration test comparision
cachier==1.5.4
joblib==1.1.0

# Documentation
pdoc==12.0.2
mkdocs==1.3.1
mkdocs-material==8.3.9
